/* Custom Styles */

/*
 * Brand colors (picked from logo):
 * Red: #A31C36
 * Orange: #F15A24
 * Yellow: #FBB03B
 */

:root {
  --md-primary-fg-color: #A31D36;
  --md-accent-fg-color: #F15A24;
}

.md-typeset a, .md-nav__link--active {
  color: var(--md-primary-fg-color);
}

.md-typeset a:focus, .md-nav__link--active:focus, .md-nav__link:not(.md-nav__container):focus {
  color: var(--md-accent-fg-color);
  font-weight: bold;
}

.md-nav__link--active {
  font-weight: bold;
}

.md-nav__item--nested > .md-nav__link:focus {
  color: inherit;
  font-weight: inherit;
}

.md-nav__item--nested > .md-nav__link:hover {
  color: var(--md-accent-fg-color);
}

.md-header {
  background-color: var(--md-primary-fg-color) !important;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__source, .md-nav--primary .md-nav__title {
    background-color: var(--md-primary-fg-color) !important;
  }
}

.md-source__icon, .md-source__repository {
  color: #fff;
}

footer .md-ellipsis, .md-footer-nav__button {
  color: #fff;
}

.md-footer-copyright {
  display: none;
}

.md-typeset__table {
  overflow-wrap: anywhere;
}

.md-typeset__table code {
  white-space: nowrap;
}
